*{
    box-sizing: border-box;
    
    
  }
  .login-container {
    
    background: #c5d7fa;
    width: 100%;
    height: 100vh;
    
  }

  .login-card {
    
    padding-top: 100px;
    padding-bottom: 150px;
  }
  
  .bg-navColor{
    background: #2c68d6;
  }